<% title '分类信息' %>
<% meta_keywords '分类信息' %>
<% nav_bar [['首页', '/'],['分类信息', '/note_cates']]%>
<% side_news '行业分类信息' %>
<% side_nav '行业分类信息', 'note' %>

<div class="main_corner">
  <%=image_tag asset_path("show_06.jpg"), :width =>'660px' %>
  <div class="content">
  <a id='sub_a_42_1' style="float: right; position: relative; overflow: hidden; margin: 0 20px 20px 0;" href='/note_items/new'><img src="/assets/note_btn.png"/></a>
  <h1>分类信息</h1>
  <br/>
  <hr class="black"/>

  <div class="news_list">
  <% @note_cates.each do |note_cate| %>
    <ul>
      <li><b><%= link_to note_cate.name, note_cate_path(note_cate) %>&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to "查看更多>>>", note_cate_path(note_cate) %></b>
        <%= render :partial => 'note_items', :locals => {:note_items => NoteItem.recent(5, note_cate.id), :paginate_off => true} %>
      </li>
    </ul>
  <% end %>
  </div>

  <hr class="black"/>
  <%= link_to '返回', note_items_path %>
 </div>
 <%=image_tag asset_path("show_08.jpg"), :width =>'660px' %>
</div>