<!DOCTYPE html> 
<html> 
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="Content-Language" content="zh-cn" />
<meta name="robots" content="all" />
<meta name="author" content="Mesbo" />
<meta name="Copyright" content="Mesbo Lcd, All Rights Reserved." />
<title><%= yield(:title) || '美德斯邦中高端洗涤连锁加盟服务商' %></title>
<meta name="keywords" content="<%= yield(:meta_keywords) || '加盟,创业,洗衣加盟店,创业加盟,连锁,连锁加盟,招商,干洗,干洗机,干洗店设备,洗衣店设备,干洗店加盟连锁,洗衣店加盟连锁,成都干洗连锁品牌'%>" />
<meta name="description" content="<%= yield(:meta_description) || '美德斯邦洗衣连锁为知名品牌,继承国际先进干洗设备和管理模式,成为目前中国中高端的干洗连锁加盟集团企业！覆盖互联网加盟干洗连锁创业项目人群的80%'%>" />

<%= stylesheet_link_tag "application" %>
<%= javascript_include_tag "application" %>

<!--hack for IE 7-8-->
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<!--[if IE 6]>
  <link href="/yaml/patches/ie6.css" rel="stylesheet" type="text/css" />
<![endif]-->
<!--[if IE 7]>
  <link href="/yaml/patches/ie7.css" rel="stylesheet" type="text/css" />
<![endif]-->
<%= csrf_meta_tags %>
<script type="text/javascript">
$(document).ready(function(){
  //slide show 
  $('#slideshow1').sliders({ delay: 2500, speed: 500 });
  $('#slideshow2').sliders({ delay: 4500, speed: 500,ease: 'swing' });

  $('#slide_190_3').cycle({
    fx: 'scrollDown', // choose your transition type, ex: fade, scrollUp, shuffle, etc...
    sync: true,
    speed: 500,
    timeout: 8000,
    delay: -1000 
  });
  $('#slide_190_4').cycle({
    fx: 'scrollRight', // choose your transition type, ex: fade, scrollUp, shuffle, etc...
    sync: 0,
    speed: 500,
    timeout: 8000,
    delay: 2000 
  });

});
</script>

</head> 

<body class="omero">
<!--header start-->
  <%= render :partial => 'layouts/m_header' %>
<!--header end-->
  

<div id="container">


  <div id="mainContent">



  <!-- end #mainContent --></div>


  <div id="footer">
    <%= render :partial => 'layouts/site_map' %>
  <!-- end #footer --></div>
<!-- end #container --></div>

</body>

</html>
