<% title "美德斯邦" %>
<% meta_keywords "成都美德斯邦洗涤有限公司, 成都干洗连锁加盟，成都洗衣连锁品牌，成都洗衣加盟店,成都加盟连锁,成都连锁加盟,美德斯邦招商,成都干洗,成都干洗机,成都干洗店设备,成都洗衣店设备,成都干洗店加盟连锁,成都洗衣店加盟连锁"%>
<% meta_description "成都美德斯邦洗涤有限公司的美德斯邦洗衣连锁为知名品牌,继承国际先进干洗设备和管理模式,成为目前中国中高端的干洗连锁加盟集团企业！覆盖互联网加盟干洗连锁创业项目人群的80%. 加盟热线：400-028-1970" %>

<% content_for :banner do %>
<div id="banner">
  <div id="banner1" class="banner">

  <div id="index_banner">
    <p class="big_font"><a href="javascript:void(0);"></a></p>
    <%#image_tag asset_path("index_banner.png"), :width => '960' %>
    <div id="banner_english2">
      <%#=link_to image_tag(asset_path("home/search980x50.jpg")), "/pages/ensure:after_sale_service", :target => '_blank' %>
      <form class="form_search" name="form1" method="get" action="/news_items">
        <input type="text" name="q" id="q" accesskey="a" size=28 height="12" style="padding: 2px 0;" />
      </form>
    </div>
  </div>

  <div id="banner2" style="margin-top: -10px;">
    <%# image_tag asset_path("1_10.jpg"), :width => "960", :alt => "美德斯邦洗衣连锁" %>
    <table width="100%" border="0"><tr>
      <td width="12px">&nbsp;</td>
      <td height="340" valign="middle">
        <%=render :partial => 'layouts/slide_320_1', :locals => {:css => 'slide_320_1', :arr => [["home/0a-320x320.jpg", "/pages/12"],["home/0b-320x320.jpg", "/pages/topic_ad1"]]} %>
      </td>
      <td width="12px">&nbsp;</td>
      <td>
        <%=render :partial => 'layouts/slide_320_1', :locals => {:css => 'slide_320_2', :arr => [["home/0b-320x320.jpg", "/pages/topic_ad1"],["home/0c-320x320.jpg", "/pages/about:address"]]} %>
      </td>
      <td width="12px">&nbsp;</td>
      <td>
        <%=render :partial => 'layouts/slide_320_1', :locals => {:css => 'slide_320_3', :arr => [["home/0c-320x320.jpg", "/pages/about:address"], ["home/0a-320x320.jpg", "/pages/12"]]} %>
      </td>
      <td width="12px">&nbsp;</td>
    </tr></table>
    <div class="border_black_2_img">&nbsp;</div>
  </div>
</div>
</div>
<!---------------flow div start --------------------------------------------------------------------------------------------------------------------------------------------->
 <%=render :partial => 'layouts/flow_div' %>
<!---------------flow div end------------------------------------------------------------------------------------------------------------------------------------------------>

<div style="float: left; width: 100%; display: block; margin: 0 0 20px 0;">
  <div id="index_banner">
   <p class="big_font2"><a href="javascript:void(0);"></a></p>
    <%#image_tag asset_path("index_banner.png"), :width => '960' %>
    <div id="banner_english2">
      <%#=link_to image_tag(asset_path("home/search980x50.jpg")), "/pages/ensure:after_sale_service", :target => '_blank' %>
      <form class="form_search" name="form1" method="get" action="/news_items">
        <input type="text" name="q" id="q" accesskey="a" size=28 height="12" style="padding: 2px 0;" />
      </form>
    </div>
  </div>
</div>
<br/><br/>
<% end %>


<% content_for :side_bar do %>

        <div>
          <h2 class="red_h2"><span class="toto">>>></span>公司新闻</h2>
          <ul>
          <% NewsItem.recent(7, 13, false).each_with_index do |item, index| %>
              <li><%=image_tag asset_path("li_sq_black.gif") %><%=link_to item.title.truncate(18), news_item_path(item.id) %></li>
          <% end %>
          </ul>
       </div>
        <div class="more_red"> <%= link_to "更多>>",news_cate_path(@news_cate_gundong.id), :style => "color: #cc0000" %></div>

        <% @news_cate_about.news_items.order("sort_id DESC").limit(2).each_with_index do |item, index| %>
          <div> <br/>
            <div class="side_news_image">
              <h2 class="red_h2"><span class="toto">&nbsp;</span><%= link_to item.title.truncate(17), news_items_path(item)%></h2>
              <%=image_tag asset_path("side_news_image#{index+1}.png"), :width => "135" %> 
              &nbsp;&nbsp;&nbsp;&nbsp;
              <%= strip_tags(item.body.to_s.gsub(/&nbsp;/, '')).truncate(80) %>
            </div>
            <div class="more_red"> <%= link_to "查看全文>>", news_item_path(item), :style => "color: #cc0000" %></div>
          </div>
        <% end %>

        <% @news_cate_gundong.news_items.order("sort_id DESC").limit(1).each_with_index do |item, index| %>
          <div> <br/>
            <div class="side_news_image">
              <h2 class="red_h2"><span class="toto">&nbsp;</span><%= link_to item.title.truncate(17), news_item_path(item)%></h2>
              <%=image_tag asset_path("side_news_image#{index}.jpg"), :width => "135" %> 
              &nbsp;&nbsp;&nbsp;&nbsp;<%= strip_tags(item.body.to_s.gsub(/&nbsp;/, '')).truncate(80) %>
            </div>
            <div class="more_red"> <%= link_to "查看全文>>", news_item_path(item), :style => "color: #cc0000" %></div>
          </div>
        <% end %>

<% end %>


<div>  
<%=render :partial => "layouts/slide_show1" %>
 <div class="slider_index_right">
   <div style="margin:0 0 0 40px;padding: 6px; color: #ffffff; font-size: 16px; font-weight: 600;">
    <div style="margin: 0 0 0 -50px;"><%=image_tag asset_path("ico-sj.gif") %></div>
    MESBO<BR/>
    International<br/>
    Laundry<br/>
    Union<br/>
   </div>
  </div>
</div>
<br/>

 <div style="margin:0; padding: 0;" id="container2">
  
      <table width="670" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="233" align="left" valign="top" class="right_border">
     
   
                <h2 class="red_h2"><span class="toto">>>></span>新闻中心</h2>
                <ul>
                  <% NewsItem.recent(11, 18).each_with_index do |item, index| %>
                    <li class="square"><%=image_tag asset_path("li_sq_black.gif") %><%=link_to item.title.truncate(15), news_item_path(item.id) %></li>
                    <% end %>
                  </ul>
                  <br/>
                </div>
                <span class="more_black"><%=link_to "更多>>", news_cate_path(18), :style => "color:#cc0000" %></span>  
  
            
                <h2 class="red_h2"><span class="toto">>>></span>最新开业信息</h2>
                <div id="scrollNews3" class="scroll_side_news">
                    <ul>
                    <% NewsItem.recent(16, @news_cate_gundong.id, true).each_with_index do |item, index| %>
                      <li class="square"><%=image_tag asset_path("li_sq_black.gif") %><%=link_to item.title.truncate(14), news_item_path(item.id) %></li>
                    <% end %>
                  </ul>
                </div>
                <span class="more_black"><%=link_to "更多>>", news_cate_path(@news_cate_about.id), :style => "color:#cc0000" %></span> 
 
       
                <!---->
     <!--            <%# NewsItem.recent(1, @news_cate_gundong.id, true).each_with_index do |item, index| %>
                  <div style="margin;0; padding:14px 0; border-top: dotted 1px #ccc;">
                     <h2 style="margin:0; padding:0;"><span class="toto">&nbsp;</span><%#= link_to "#{item.title.truncate(14)}", news_item_path(item), :class=> 'news_title', :style => "color: #cc0000;" %></h2>
                    <div style="margin:0; padding: 0 0 0 14px">
                      <%#= strip_tags(item.body.to_s.gsub(/&nbsp;/, '')).truncate(64) %>
                      <%#= link_to "查看全文>>", news_item_path(item), :style => "color: #cc0000" %>
                    </div>
                  </div>
                <%# end %>  -->
 
                <script type="text/javascript">
                  $(function(){
                      //scroll news on pages/index
                    //$("#scrollNews").Scroll({line:4,speed:800,timer:3000});
                    //$(".scroll_news_list1").vTicker();
                    $(".scroll_side_news").vTicker(
                            { 
                                speed: 500,
                                pause: 3000,
                                animation: 'fade',
                                mousePause: false,
                                showItems: 4
                              }
                    );
                  });
                </script> 

        </td>
        <td width="233" align="left" valign="top" class="right_border">
          <div style="margin:0; padding:0 10px; background-color: #fff;">
           
            <a href="/news_cates/11" target="_blank"><%=image_tag asset_path("7_0.jpg"), :width => "210", :height => "130"%></a>
            <% @news_cate_xiyichangshi.news_items.order("sort_id DESC").limit(3).each_with_index do |item, index| %>
              <div style="margin;0; padding:12px 0; border-top: dotted 1px #ccc;">
               <h2 style="margin:0; padding:0;"><span class="toto">&nbsp;</span><%= link_to "#{item.title.truncate(16)}", news_item_path(item), :class=> 'news_title' %></h2>
               <div style="margin:0; padding:0;">
                  <%= strip_tags(item.body.to_s).gsub(/　　+| +|\n|\s|\t/, ' ').truncate(100) %><BR/>
                  <span class="more_black"><%= link_to "查看全文>>", news_item_path(item) %></span>
                </div>
              </div>
            <% end %>
          </div>
        </td>
        <td width="233" align="left" valign="top">
          <div style="margin:0; padding:0 0 0 10px; background-color: #fff;">
           
            <a href="/news_cates/4" target="_blank"><%=image_tag asset_path("7_1.jpg"), :width => "210", :height => "130"%></a>
            <% @news_cate_ganxizhishi.news_items.order("sort_id DESC").limit(3).each_with_index do |item, index| %>
              <div style="margin;0; padding:12px 0; border-top: dotted 1px #ccc;">
               <h2 style="margin:0; padding:0;"><span class="toto">&nbsp;</span><%= link_to "#{item.title.truncate(15)}", news_item_path(item), :class=> 'news_title' %></h2>
               <div style="margin:0; padding:0;">
                  <%= strip_tags(item.body.to_s).gsub(/　　+| +|\n|\s|\t/, ' ').truncate(100) %><BR/>
                  <span class="more_black"><%= link_to "查看全文>>", news_item_path(item) %></span>
                </div>
              </div>
            <% end %>
          </div>
        </td>
      </tr>
    </table>
      
  </div>