<div class="Ucontainer">
  <div class="u_row1 transparent"><%#A%>
    <div class="Ucontent">
      <%= image_tag asset_path("home/a290x384.jpg") %>
    </div>
  </div>
  <div class="u_row2 transparent"><%#B%>
    <%= image_tag asset_path("home/b190x190.jpg") %>
  </div>
  <div class="u_row2 transparent"><%#C%>
    <%#= image_tag asset_path("home/c190x190.jpg") %>
    <%=render :partial => 'layouts/slide_190_1', :locals => {:css => 'slide_190_1', :arr => ["home/c190x190.jpg", "home/e190x190.jpg", "home/j190x190.jpg"]} %>
  </div>
  <div class="u_row3 transparent" style="width: 286px;"><%#D%>
    <%#= image_tag asset_path("home/d286x190.jpg") %>
    <%=render :partial => 'layouts/slide_290_1' %>
  </div>
  <div class="u_row2 transparent"><%#E%>
    <%#= image_tag asset_path("home/e190x190.jpg") %>
    <%=render :partial => 'layouts/slide_190_1', :locals => {:css => 'slide_190_2', :arr => ["home/e190x190.jpg", "home/j190x190.jpg", "home/c190x190.jpg"]} %>
  </div>
  <div class="u_row2 transparent"><%#F%>
    <%= image_tag asset_path("home/f190x190.jpg") %>
  </div>
  <div class="u_row4 transparent"><%#G%>
    <%= image_tag asset_path("home/g93x190.jpg") %>
  </div>
  <div class="u_row2 transparent" style="width: 189px;"><%#H%>
    <%= image_tag asset_path("home/h190x190.jpg") %>
  </div>
  <DIV style="float: left; width: 290px; height: 480px; margin: 0 4px 4px 0;">
    <div class="u_row5 transparent"><%#L%>
      <%#=render :partial => 'layouts/slider_zuopin', :locals => {:css => 'slider_zuopin_1', :arr => [1,2,3,4,5]} %>
        <%= image_tag asset_path("home/i290x290.jpg") %>
    </div>
    <div class="u_row3 transparent"><%#M%>
       <%= image_tag asset_path("home/l290x190.jpg") %>
    </div>
  </DIV>
  <div class="u_row2 transparent"><%#J%>
   <%#= image_tag asset_path("home/j190x190.jpg") %>
   <%=render :partial => 'layouts/slide_190_1', :locals => {:css => 'slide_190_3', :arr => ["home/j190x190.jpg","home/c190x190.jpg", "home/e190x190.jpg"]} %>
  </div>
  <div class="u_row6 transparent"><%#K%>
   <%#= image_tag asset_path("home/k480x190.jpg") %>
   <%=render :partial => 'layouts/slide_480_1' %>
  </div>
  <div class="u_row7 transparent"><%#M%>
    <%= image_tag asset_path("home/m380x290.jpg") %> 
  </div>
  <div class="u_row5 transparent"><%#N%>
    <%= image_tag asset_path("home/n-5 290x290.jpg") %> 
    <%#=render :partial => 'layouts/slider_zuopin', :locals => {:css => 'slider_zuopin_2', :arr => [2,3,4,5,1]} %>
  </div>
  <div class="u_row2 transparent"><%#O%>
     <%#= image_tag asset_path("home/o190x190.jpg") %> 
    <%=render :partial => 'layouts/slide_190_1', :locals => {:css => 'slide_190_4', :arr => ["home/o190x190.jpg","home/p190x190.jpg", "home/t190x190.jpg"]} %>   
  </div>
  <div class="u_row2 transparent"><%#P%>
    <%#= image_tag asset_path("home/p190x190.jpg") %> 
    <%=render :partial => 'layouts/slide_190_1', :locals => {:css => 'slide_190_5', :arr => ["home/p190x190.jpg", "home/t190x190.jpg","home/o190x190.jpg"]} %>
  </div>
  <div class="u_row5 transparent" style="width: 286px;"><%#Q%>
    <%= image_tag asset_path("home/q-5 286x290.jpg")%></div>
  <div class="u_row3 transparent"><%#R%>
    <%#= image_tag asset_path("home/r290x190.jpg") %>
    <%=render :partial => 'layouts/slide_290_2' %>
  </div>
  <div class="u_row7 transparent" style="margin-top: -98px; width: 384px;"><%#S%>
     <%= image_tag asset_path("home/s-7 384x290.jpg"), :width => 384 %> </div>
  <div class="u_row2 transparent"><%#T%>
    <%#= image_tag asset_path("home/t190x190.jpg") %> 
    <%=render :partial => 'layouts/slide_190_1', :locals => {:css => 'slide_190_6', :arr => ["home/t190x190.jpg","home/o190x190.jpg", "home/p190x190.jpg"]} %>  
  </div>
  <div class="u_row4 transparent" style="width: 92px;"><%#U%>
    <%= image_tag asset_path("home/g-4 92x190.jpg"), :width => 92 %>
  </div>
  <div class="u_row8 transparent" style="margin-top: -98px;"><%#V%>
    <%= image_tag asset_path("home/v290x290.jpg") %> 
    <%#=render :partial => 'layouts/slider_zuopin', :locals => {:css => 'slider_zuopin_3', :arr => [3,4,5,1,2]} %></div>
  <div class="u_row9 transparent"><%#W%>
     <%= image_tag asset_path("home/w290x334.jpg") %> 
  </div>
  <div class="u_row10 transparent"><%#X%>
     <%= image_tag asset_path("home/x284x334.jpg") %> </div>
  <div class="u_row11 transparent"><%#U%>
     <%= image_tag asset_path("home/y386x334.jpg") %> </div>
</div>