<%# encoding: utf-8 %>
<!DOCTYPE html> 
<html> 
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="Content-Language" content="zh-cn" />
<meta name="robots" content="all" />
<meta name="author" content="Mesbo" />
<meta name="Copyright" content="Mesbo Lcd, All Rights Reserved." />
<title><%= yield(:title) + '- 成都美德斯邦洗涤服务有限公司' %></title>
<meta name="keywords" content="<%= yield(:meta_keywords) + ' - 干洗加盟,洗衣店创业,洗衣加盟店,干洗连锁,干洗连锁加盟,洗衣店招商,干洗,干洗机,干洗店设备,洗衣店设备,干洗店加盟连锁,洗衣店加盟连锁,成都干洗连锁品牌'%>" />
<meta name="description" content="<%= yield(:meta_description) + ' - 美德斯邦洗衣连锁为知名品牌,继承国际先进干洗设备和管理模式,成为目前中国中高端的干洗连锁加盟集团企业！覆盖互联网加盟干洗连锁创业项目人群的80%'%>" />

<%= stylesheet_link_tag "application" %>
<%= javascript_include_tag "application" %>

<!--hack for IE 7-8-->
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<!--[if IE 6]>
  <link href="/yaml/patches/ie6.css" rel="stylesheet" type="text/css" />
<![endif]-->
<!--[if IE 7]>
  <link href="/yaml/patches/ie7.css" rel="stylesheet" type="text/css" />
<![endif]-->
<%= csrf_meta_tags %>
<script type="text/javascript">
$(document).ready(function(){
  // $("#top_banner_flip").mouseover(function(){
  //   $("#top_banner").slideToggle("slow");
  // });

  //corner
  //$("div.corner_box").corner(); !not valid in IE
  $("div.side_box").corner();
  //$("div.black_side_box").corner();

  //slide show 
  $('#slideshow1').sliders({ delay: 2500, speed: 500 });
  $('#slideshow2').sliders({ delay: 4500, speed: 500,ease: 'swing' });

 // //一级菜单不kwicks
 //  $(".top_menu_link").hover(function(){
 //    $("#header_nav").css("height", '120px');
 //    $(".sub_kwick").hide();
 //    $("#sub_top_menu").slideDown();
 //    $("#sub_" + $(this).attr("id")).show();
 //  });

  // $(".top_menu_link").mouseover(function(){
  //   $("#header_nav").height("500");
  //   // $("#sub_top_menu").slideDown();
  //   // $(".sub_kwick").hide();
  //   //  $("#sub_" + $(this).attr("id")).slideDown();
  //   //$("#sub_top_menu").slideToggle("slow");
  // });
  // $("#header_nav").mousemove(function(){
  //   $("#header_nav").css("height", '120px');
  //   $("#sub_top_menu").show();
  // });
  // $("#header_nav").mouseout(function(){
  //   $("#sub_top_menu").hide();
  //   $("#header_nav").css("height", '42px');
  // });
  // $("#sub_top_menu").mouseout(function(){
  //   $("#sub_top_menu").hide();
  //   $("#header_nav").css("height", '42px');
  // });
  //use jquery.ae.image.resize plugin to resize img
  $(".content_body img").aeImageResize({ height: 400, width: 500 }); //img show on main body
  $(".item_li img").aeImageResize({ height: 100, width: 100 }); //product image
  $(".product_list_all img").aeImageResize({ height: 100, width: 100 }); //product image
  $("#page").aeImageResize({ height: 400, width: 500 });

  $('#slide_190_1').cycle({
    fx: 'scrollDown', // choose your transition type, ex: fade, scrollUp, shuffle, etc...
    sync: true,
    speed: 500,
    timeout: 8000,
    delay: -1000 
  });
  $('#slide_190_2').cycle({
    fx: 'scrollDown', // choose your transition type, ex: fade, scrollUp, shuffle, etc...
    sync: true,
    speed: 500,
    timeout: 8000,
    delay: -1000 
  });
  $('#slide_190_3').cycle({
    fx: 'scrollDown', // choose your transition type, ex: fade, scrollUp, shuffle, etc...
    sync: true,
    speed: 500,
    timeout: 8000,
    delay: -1000 
  });
  $('#slide_190_4').cycle({
    fx: 'scrollRight', // choose your transition type, ex: fade, scrollUp, shuffle, etc...
    sync: 0,
    speed: 500,
    timeout: 8000,
    delay: 2000 
  });
  $('#slide_190_5').cycle({
    fx: 'scrollRight', // choose your transition type, ex: fade, scrollUp, shuffle, etc...
    sync: 0,
    speed: 500,
    timeout: 8000,
    delay: 2000 
  });
  $('#slide_190_6').cycle({
    fx: 'scrollRight', // choose your transition type, ex: fade, scrollUp, shuffle, etc...
    sync: 0,
    speed: 500,
    timeout: 8000,
    delay: 2000 
  });

  $('#slide_290_1').cycle({
    fx: 'scrollDown', // choose your transition type, ex: fade, scrollUp, shuffle, etc...
    sync: true,
    speed: 1000,
    timeout: 8000,
    delay: -500 
  });

  $('#slide_290_2').cycle();
  $('#slide_320_1').cycle({ 
    fx:      'fade', 
    speed: 2000,
    timeout: 4000,
    delay:   -3000 
  });
  $('#slide_320_2').cycle({ 
    fx:      'fade', 
    speed: 1500,
    timeout: 4500,
    delay:   -3000 
  });
  $('#slide_320_3').cycle({ 
    fx:      'fade', 
    speed: 1000,
    timeout: 5000,
    delay:   -3000 
  });

});
</script>

</head> 

<body class="omero">
<!--header start-->
  <%= render :partial => 'layouts/m_header' %>
<!--header end-->
<% if request[:controller] == 'pages' && request[:action] == 'index' %>
  <div id="container_pages">
<% else %>
  <div id="container">
<% end %>

<!-- <div style="background-color: #494949; maring: 20px 0 2px 0;" class="ie7_bad">
   <table width="100%" border="0" cellspacing="0" cellpadding="0">
     <tr>
       <td align="center" valign="middle" height="40"><div class="login_reg"><a href="/customer_login">会员登录</a>&nbsp;&nbsp;<a href="/customers/new">我要注册</a>&nbsp;&nbsp;<a href="/pages/about:address">联系我们</a></div></td>
     </tr>
   </table>
 </div> -->
  
  <%= yield :banner %>

  <div id="mainContent">

   <table width="100%" height="600" border="0" cellspacing="0" cellpadding="0">
    <tr><td height="10px">&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
  <tr>
    <td width="690px" align="left" valign="top">
     <%if flash[:notice]%><div class="notice"><%=flash[:notice]%></div><%end%>
     <%= yield :nav_bar %>
     <%= yield %>
    </td>
    <td width="20px" class="left_border">&nbsp;&nbsp;</td>
    <td align="right" valign="top" width="270">
      <div id="sidebar">
         <% if request[:controller] == 'pages' && request[:action] == 'index' %>
           <%= yield :side_bar %><!--for index page-->
         <% else %>
           <div>
             <%= play_flash asset_path("m_flash/banner285x218.swf"), :width => '285', :height => '215'%>
           </div>
           <div>
              <div>
               <%= yield :side_nav %><!--for detail page-->
               <%# render :partial => 'layouts/search_form', :locals => {:css_class => "search1"} %>
               <%= yield :side_news %><!--for detail page -->
               <!-- end .bg_white --></div>
          <!-- end .corner_white --></div>

     <!--         <div class="side_box">
              <div id='slideshow1'>
                <%#=image_tag asset_path("slide_b_04.jpg"), :width=>"250px"%>
                <%#=image_tag asset_path("slide_b_02.jpg"), :width=>"250px"%>
                <%#=image_tag asset_path("slide_b_03.jpg"), :width=>"250px"%>
              </div>
            </div>

             <div class="side_box">
              <div id='slideshow2'>
                <a href="/jiamengs/new" target="_blank"><%#=image_tag asset_path("side_banner1.png"), :width => "250px"%></a>
                <a href="/pages/join:join_franchise" target="_blank"><%#=image_tag asset_path("side_banner2.png"), :width => "250px"%></a>
                <a href="/pages/about:address" target="_blank"><%#=image_tag asset_path("side_banner3.png"), :width => "250px"%></a>
                <a href="/pages/ensure:branch_store_system" target="_blank"><%#=image_tag asset_path("side_banner4.png"), :width => "250px"%></a>
              </div>
            </div> -->
       
            <div class="side_box">
              <table>
              <tr><td colspan="2"><h3 class="title">美德斯邦洗衣分店查询</h3></td></tr>
              <tr><td>
              <%= form_tag("/shops/", :method => "get") do %>
                <%=render :partial => "/shops/dropdown_region_city_district", :locals => {:style => ''} %>
                <%= image_submit_tag("btn_submit.jpg", :class => 'search_button') %>
              <% end %>
              </td><td>
                <%= image_tag("map_search2.jpg", :width => '140') %>
              </td></tr>
              </table>
            </div>
            <div class="side_box">
              <a href="/pages/about:address"><%= image_tag("kefu.gif", :width => '240') %></a>
              <br>
              <%= render :partial => "layouts/bshare" %>
            </div>
          </div>
         <% end %>
    </td>
  </tr>
 </table>

  <!-- end #mainContent --></div>

  <!-- index footer flash -->
  <div class="border_black_2_img">&nbsp;</div>
  <%= play_flash asset_path("m_flash/banner980x300.swf"), :width => '980', :height => '300'%>


  <div id="footer">
    <%= render :partial => 'layouts/site_map' %>
  <!-- end #footer --></div>
<!-- end #container --></div>

</body>

</html>
